

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #111;
}
.layer {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
}
.layer h1{
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 35vh;
    padding-left: 20rem;
    font-size: 6em;
    
}
.layer::before {
    content: '';
    position: absolute;
    left: -42px;
    width: 80px;
    height: 200px;
    background: #222;
    box-shadow: 0 calc(90vh - 100px) 0 #222;

}
section {
    height: 200vh;
    width: 100%;
    background: url(22.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.plane {
    position: absolute;
    height: 100vh;
    left: -56vh;
}
section.sec2 {
    height: 100vh;
    width: 100%;
    background: url(11.jpg)  no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.txt {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txt h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}
.txt h2 span {
    font-size: 6em;
    font-weight: 900;
    letter-spacing: 100px;
    background: url(11.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: text;
    color: transparent;
}
